@model Samolocik.Models.EmployeeModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Usuwanie pracownika</h1>

<h3 class="text-center">Czy na pewno usunąć tego pracownika?</h3>
<div class="col justify-content-center">
    <dl  class="row d-flex flex-column justify-content-center align-items-center text-center">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Imię
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Nazwisko
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            Hasło
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            Stanowisko
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            Dodano
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            Dodawanie Lotów
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CanAddFlights)
        </dd>
        <dt class = "col-sm-2">
            Dodawanie Pracowników
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CanAddEmployees)
        </dd>
        <dt class = "col-sm-2">
            Dodawanie Użytkowników
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CanAddUsers)
        </dd>
        <dt class = "col-sm-2">
            Dodawanie Lotnisk
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CanAddAirports)
        </dd>
        <dt class = "col-sm-2">
            Dodawanie Samolotów
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CanAddPlanes)
        </dd>
        <dt class = "col-sm-2">
            Dodawanie Przewoźników
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.CanAddAirLines)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger my-2" />
        <a class="btn btn-outline-primary my-2" asp-action="Index">Anuluj</a>
    </form>
</div>
