@model IEnumerable<Samolocik.Models.EmployeeModel>

@{
    ViewData["Title"] = "Lista Pracowników";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Dodaj Pracownika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Stanowisko
            </th>
            <th>
                Dodawanie Pracowników
            </th>
            <th>
                Dodawanie Użytkowników
            </th>
            <th>
                Dodawanie Lotów
            </th>
            <th>
                Dodawanie Lotnisk
            </th>
            <th>
                Dodawanie Samolotów
            </th>
            <th>
                Dodawanie Przewoźników
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanAddEmployees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanAddUsers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanAddFlights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanAddAirports)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanAddPlanes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanAddAirLines)
            </td>
            <td>
                @Html.ActionLink("Edycja", "Edit", new {  id=item.Id})
                @Html.ActionLink("Szczegóły", "Details", new {  id=item.Id })
                @Html.ActionLink("Usuń", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
